body{padding:0; margin:0; font-size: 62.5%; /* font-size 1em = 10px on default browser settings */ }

#abreFecha{
	width:100%;
	height:100%;
	box-sizing: border-box;
}

#abreFecha .sectionsContent{
	width:100%;
	height:100%;
	box-sizing: border-box;
}

#abreFecha .sectionsContent .tituloContent{
	cursor:pointer;
	border:1px solid blue;
	width:100%;
	display:block;
	padding:1em 0.5em;
	margin:0;
	background-color:#448AFF;
	color:#FFF;
	font-size:1.5em;
}

#abreFecha .sectionsContent .Content{
	width:100%;
	display:none;
	box-sizing: border-box;
}

.animacaoAltura{
	transition: all 2s;
}

@media and (max-width: 414px){
  #galeriaImagens{border:1px solid red;}
}
